spring:
  application:
    name: user-service
  config:
    import: optional:configserver:http://localhost:7777

server:
  port: 9093
logging:
  file:
    name: logs/${spring.application.name}.log
  logback:
    rolling policy:
      max-file-size: 5MB
      max-history: 7